.canvasContainer canvas {
    height: 1200px !important;
    width: 1200px !important;
}

.canvasContainer div {
    position: relative !important;
    width: auto !important;
    height: auto !important;
}
